.login-container {
    background-color: #fdecf4;
    color: #fdaaaa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: 50px auto;
}

.login-container h2 {
    margin-bottom: 20px;
}

#signup-form {
    display: flex;
    flex-direction: column;
}

#signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: -10px;
}

#duplicate-message {
    font-size: 12px;
    color: #777;
    margin-left: 5px;
    margin-top: -10px;
    margin-bottom: 20px;
}

#signup-form .terms-checkbox {
    display: flex;
    align-items: flex-start;
    flex-direction: column; 
    margin-bottom: 15px;
    margin-left: -250px; 
}

#signup-form label {
    font-size: 13px;
    margin-left: 280px;
    margin-top: -30px;
}

#signup-form button {
    background-color: #fdaaaa;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    margin-top: -10px;
    margin-bottom: 20px;
}

#signup-form button:hover {
    background-color: #f75d8c;
}

.back-button {
    text-align: center;
    margin-top: 20px;
}

.back-button a {
    background-color: #fdaaaa;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.back-button a:hover {
    background-color: #f75d8c;
}

#password-message {
    font-size: 12px; 
    color: red; 
    margin-top: -10px;
    margin-bottom: 20px;
}